<div style="margin-left:2%;margin-top: 2%;">      

  <h1>Medicines |   <%= link_to 'New Medicine', new_medicine_path, class: 'btn btn-primary'  %></h1>

  <table id="medicines-records" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Is acidic</th>
        <th>Infant safe</th>
      </tr>
    </thead>

    <tbody>
      <% @medicines.each do |medicine| %>
        <tr class="<%= cycle('pure-table-odd', '') -%>">
          <td>    <%= link_to medicine_path(medicine.id) do %>
<%= medicine.id %> <%end%></td>
          <td><%= medicine.name %></td>
          <td><%= medicine.description %></td>
          <td><%= medicine.medicine_type %></td>
          <td><%= medicine.is_acidic %></td>
          <td><%= medicine.infant_safe %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#medicines-records').DataTable();
  });
</script>