<div style="margin-left:2%;margin-top: 2%;margin-bottom: 2%;">      
  <p>
    <strong>User:</strong>
    <%= @prescription.user .first_name%>&nbsp;<%=@prescription.user.last_name%>
  </p>

  <p>
    <strong>Doctor:</strong>
    <%= @prescription.doctor.first_name%>&nbsp;<%= @prescription.doctor.last_name%>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= @prescription.notes %>
  </p>

  <p>
    <strong>Prescribed on:</strong>
    <%= @prescription.prescribed_on %>
  </p>

  <p>
    <strong>Valid till:</strong>
    <%= @prescription.valid_till %>
  </p>

  <%= link_to 'Edit', edit_prescription_path(@prescription), class: 'btn btn-primary'  %> |
  <%= link_to 'Back', prescriptions_path, class: 'btn btn-secondary'  %> | 
  <%= link_to 'Destroy', prescription_path(@prescription), method: :delete, data: { confirm: 'Are you sure you want to delete this record?' }, class: 'btn btn-warning'  %>

  <br />
  <br />
  <hr/>

  <h3>Prescribed Medicines</h3>

  <table id="prescribed_medicines-records" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <th>ID</th>
        <th>Medicine</th>
        <th>Prescription</th>
        <th>Notes</th>
        <th>Before breakfast</th>
        <th>After breakfast</th>
        <th>Before lunch</th>
        <th>After lunch</th>
        <th>Before dinner</th>
        <th>After dinner</th>
        <th>Available Count</th>
      </tr>
    </thead>

    <tbody>
      <% @prescription.prescribed_medicines.each do |prescribed_medicine| %>
        <tr class="<%= cycle('pure-table-odd', '') -%>">
          <td>    <%= link_to prescribed_medicine_path(prescribed_medicine.id) do %>
  <%= prescribed_medicine.id %> <%end%></td>
          <td><%= prescribed_medicine.medicine.name %></td>
          <td><%= prescribed_medicine.prescription.notes %></td>
          <td><%= prescribed_medicine.notes %></td>
          <td><%= prescribed_medicine.before_breakfast %></td>
          <td><%= prescribed_medicine.after_breakfast %></td>
          <td><%= prescribed_medicine.before_lunch %></td>
          <td><%= prescribed_medicine.after_lunch %></td>
          <td><%= prescribed_medicine.before_dinner %></td>
          <td><%= prescribed_medicine.after_dinner %></td>
          <td><%= prescribed_medicine.available_count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add Prescribed Medicine', new_prescribed_medicine_path(:prescriptionId => @prescription.id), class: 'btn btn-secondary' %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#prescribed_medicines-records').DataTable();
  });
</script>