<div style="margin-left:2%;margin-top: 2%;">    
  <p id="notice"><%= notice %></p>

  <h1>Doctor Appointments | <%= link_to 'New Doctor Appointment', new_doctor_appointment_path, class: 'btn btn-primary'  %></h1>

  <% if @user %>
    <h3>User: <%= @user.first_name %>&nbsp;<%= @user.last_name %></h3>
  <% end %>
  <% if @doctor %>
    <h3>Doctor: <%= @doctor.first_name %>&nbsp;<%= @doctor.last_name %></h3>
  <% end %>

  <table id="doctor-appointments-records" class="table table-striped table-bordered" style="width: 1000px;">
    <thead>
      <tr class="<%= cycle('pure-table-odd', '') -%>">
        <th>Description</th>
        <th>From</th>
        <th>To</th>
        <th>Doctor</th>
        <th>User</th>
        <th>ID</th>
      </tr>
    </thead>

    <tbody>
      <% @doctor_appointments.each do |doctor_appointment| %>
        <tr class="<%= cycle('pure-table-odd', '') -%>">
          <td>    <%= link_to doctor_appointment_path(doctor_appointment.id) do %>
<%= doctor_appointment.id %> <%end%></td>
          <td><%= doctor_appointment.description %></td>
          <td><%= doctor_appointment.from %></td>
          <td><%= doctor_appointment.to %></td>
          <td><%= doctor_appointment.doctor.first_name %>&nbsp;<%= doctor_appointment.doctor.last_name %></td>
          <td><%= doctor_appointment.user.first_name %>&nbsp;<%= doctor_appointment.user.last_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#doctor-appointments-records').DataTable();
  });
</script>